# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env files
.env*.local
.env

# Build
*.log

# Documentation
README.md
*.md
!productdoc.md
!design\ system.md


